[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.5.0
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v.2.11.1
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 6.1.2
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
	branch = 0.10.0
