[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = devel
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/Oipo/fmt.git
[submodule "external/mimalloc"]
	path = external/mimalloc
	url = https://github.com/volt-software/mimalloc-static.git
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/liburing"]
	path = external/liburing
	url = https://github.com/axboe/liburing.git
