[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.7.0
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v.2.11.1
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 7.0.3
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
	branch = 0.11.0
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
[submodule "external/wyhash"]
	path = external/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
	tag = V3
[submodule "external/cppcoro"]
	path = external/cppcoro
	url = https://github.com/dutow/cppcoro.git
	branch = gcc_support
