name: CMake

on:
  workflow_dispatch:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: "Configure CMake"
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: CC=clang-18 CXX=clang++-18 cmake -GNinja -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Debug -DICHOR_USE_SANITIZERS=OFF -DICHOR_USE_BOOST_BEAST=ON -DICHOR_USE_SDEVENT=ON -DICHOR_USE_MOLD=ON -DICHOR_ENABLE_INTERNAL_DEBUGGING=ON -DICHOR_ENABLE_INTERNAL_COROUTINE_DEBUGGING=ON -DICHOR_ENABLE_INTERNAL_URING_DEBUGGING=ON -DICHOR_ENABLE_INTERNAL_IO_DEBUGGING=ON -DICHOR_ENABLE_INTERNAL_STL_DEBUGGING=ON -DICHOR_USE_LIBCPP=OFF -DICHOR_USE_LIBURING=ON

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config Debug

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest --output-on-failure -C ${{env.BUILD_TYPE}}

    - name: Examples
      working-directory: ${{github.workspace}}/bin
      run: ../bin/ichor_etcd_example && ../bin/ichor_http_example_boost && ../bin/ichor_http_example_uring && ../bin/ichor_multithreaded_example && ../bin/ichor_multithreaded_example_uring && ../bin/ichor_optional_dependency_example && ../bin/ichor_serializer_example && ../bin/ichor_tcp_example && ../bin/ichor_tcp_example_uring && ../bin/ichor_timer_example && ../bin/ichor_yielding_timer_example && ../bin/ichor_timer_example_uring && ../bin/ichor_yielding_timer_example_uring && ../bin/ichor_factory_example && ../bin/ichor_websocket_example && ../bin/ichor_event_statistics_example && ../bin/ichor_introspection_example && ../bin/ichor_coroutine_benchmark && ../bin/ichor_event_benchmark && ../bin/ichor_serializer_benchmark && ../bin/ichor_start_benchmark && ../bin/ichor_start_stop_benchmark && ../bin/ichor_utils_benchmark -r

