name: Coverage

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: coverage

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: "Set Path"
      run: echo "/opt/gcc-12.4/bin" >> $GITHUB_PATH

    - name: "Configure CMake"
      run: cmake -GNinja -B ${{github.workspace}}/build-coverage -DCMAKE_BUILD_TYPE=Debug -DICHOR_USE_BOOST_BEAST=ON -DICHOR_BUILD_COVERAGE=ON -DICHOR_USE_HIREDIS=ON -DICHOR_USE_SANITIZERS=OFF -DICHOR_USE_LIBCPP=OFF -DICHOR_USE_MOLD=OFF -DICHOR_ENABLE_INTERNAL_DEBUGGING=ON -DICHOR_USE_LIBURING=ON -DICHOR_ENABLE_DEPENDENCY_DEPRECATED_FUNCTIONS=1

    - name: Build
      run: cmake --build ${{github.workspace}}/build-coverage --config Debug

    - name: Test
      working-directory: ${{github.workspace}}/build-coverage
      run: ctest --output-on-failure --progress -C ${{env.BUILD_TYPE}}

    - name: Examples
      working-directory: ${{github.workspace}}/bin
      run: ../bin/ichor_etcd_example_boost && ../bin/ichor_http_example_boost && ../bin/ichor_http_example_uring && ../bin/ichor_multithreaded_example && ../bin/ichor_multithreaded_example_uring && ../bin/ichor_optional_dependency_example && ../bin/ichor_serializer_example && ../bin/ichor_tcp_example && ../bin/ichor_tcp_example_uring && ../bin/ichor_timer_example && ../bin/ichor_yielding_timer_example && ../bin/ichor_timer_example_uring && ../bin/ichor_yielding_timer_example_uring && ../bin/ichor_factory_example && ../bin/ichor_websocket_example && ../bin/ichor_event_statistics_example && ../bin/ichor_introspection_example && ../bin/ichor_coroutine_benchmark && ../bin/ichor_event_benchmark && ../bin/ichor_serializer_benchmark && ../bin/ichor_start_benchmark && ../bin/ichor_start_stop_benchmark && ../bin/ichor_utils_benchmark -r

    - name: coverage
      run: |
        echo "lcov capture"
        lcov --ignore-errors inconsistent --keep-going --rc max_message_count=1000 --directory . --capture --output-file coverage.info || true
        echo "lcov remove unused parts from coverage"
        lcov --remove coverage.info '/usr/*' '/opt/*' '${{github.workspace}}/external/*' --output-file coverage.info
        echo "lcov output"
        lcov --list coverage.info
        echo "Uploading coverage to CodeCov"
        codecov -f coverage.info

